<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>soree Node.js</title>
    <style media="screen">
      body{
        background: skyblue;color:black;padding:30px;
      }
      h1{
        text-align: center;
      }
      p{
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>masaokee soowae</p>

    <!-- <form action="/login" method="POST" >
        username : <input type="text" name="username"> <br>
        password : <input type="password" name="password"> <br>

        <input type="submit" value="ตกลง">
    </form> -->

  </body>
</html>
